################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BoardGameRentalApp/v15/Server/sqlite3/storage.ide
/.vs/BoardGameRentalApp/v15/Server/sqlite3/db.lock
/.vs/slnx.sqlite
/.vs/BoardGameRentalApp/v16
